.container {
  width: 800px;
  height: 500px;
  margin: 0 auto;
  background: #ddd;
}

.box1 {
  width: 200px;
  height: 80px;
  background: #aaa;
  padding: 10px 20px;
  border: 1px solid #000;
  border-style: ridge;
  margin-left: 20px;

}

.box2 {
  width: 200px;
  height: 80px;
  background: #aaa;
  padding: 10px 20px;
  border: 1px solid #000;
  border-style: ridge;
  margin: 20px;
}